sandbox/mallard/rng/db-comp.rng

<?xml version='1.0' encoding='utf-8'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	 xmlns:ref="http://www.gnome.org/~shaunm/mallard/reference">

  <ref:title>DB Module for General Computer Terms</ref:title>

  <!-- Stub Content Models -->

  <div ref:role="stub">
    <ref:title>Stub Content Models</ref:title>

    <define name="db-comp.stub.attr-common">
      <ref:refname>db-comp.stub.attr-common</ref:refname>
      <ref:refpurpose>
	A stub model for common attributes.
      </ref:refpurpose>
      <notAllowed/>
    </define>

    <define name="db-comp.stub.inline">
      <ref:refname>db-comp.stub.inline</ref:refname>
      <ref:refpurpose>
	A stub model for inline content.
      </ref:refpurpose>
      <notAllowed/>
    </define>

    <define name="db-comp.stub.inline-restricted">
      <ref:refname>db-comp.stub.inline-restricted</ref:refname>
      <ref:refpurpose>
	A stub model for restricted inline content.
      </ref:refpurpose>
      <notAllowed/>
    </define>
  </div>

  <!-- Element Classes -->

  <div ref:role="choice">
    <ref:title>Element Classes</ref:title>

    <define name="db-comp.choice.inline">
      <ref:refname>db-comp.choice.inline</ref:refname>
      <ref:refpurpose>
	A <ref:xmltag>choice</ref:xmltag> containing the inline
	elements defined by this module.
      </ref:refpurpose>

      <choice>
	<ref name="db-comp.element.accel"/>
	<ref name="db-comp.element.application"/>
	<ref name="db-comp.element.code"/>
	<ref name="db-comp.element.command"/>
	<ref name="db-comp.element.computeroutput"/>
	<ref name="db-comp.element.constant"/>
	<ref name="db-comp.element.database"/>
	<ref name="db-comp.element.envar"/>
	<ref name="db-comp.element.errorcode"/>
	<ref name="db-comp.element.errorname"/>
	<ref name="db-comp.element.errortext"/>
	<ref name="db-comp.element.errortype"/>
	<ref name="db-comp.element.filename"/>
	<ref name="db-comp.element.guibutton"/>
	<ref name="db-comp.element.guiicon"/>
	<ref name="db-comp.element.guilabel"/>
	<ref name="db-comp.element.guimenu"/>
	<ref name="db-comp.element.guimenuitem"/>
	<ref name="db-comp.element.guisubmenu"/>
	<ref name="db-comp.element.hardware"/>
	<ref name="db-comp.element.keycap"/>
	<ref name="db-comp.element.keycode"/>
	<ref name="db-comp.element.keycombo"/>
	<ref name="db-comp.element.keysym"/>
	<ref name="db-comp.element.literal"/>
	<ref name="db-comp.element.markup"/>
	<ref name="db-comp.element.menuchoice"/>
	<ref name="db-comp.element.mousebutton"/>
	<ref name="db-comp.element.option"/>
	<ref name="db-comp.element.optional"/>
	<ref name="db-comp.element.replaceable"/>
	<ref name="db-comp.element.symbol"/>
	<ref name="db-comp.element.systemitem"/>
	<ref name="db-comp.element.token"/>
	<ref name="db-comp.element.userinput"/>
	<ref name="db-comp.element.xmltag"/>
      </choice>
    </define>

    <define name="db-comp.choice.inline-error">
      <ref:refname>db-comp.choice.inline-error</ref:refname>
      <ref:refpurpose>
	A <ref:xmltag>choice</ref:xmltag> containing the inline
	elements used for errors.
      </ref:refpurpose>

      <choice>
	<ref name="db-comp.element.errorcode"/>
	<ref name="db-comp.element.errorname"/>
	<ref name="db-comp.element.errortext"/>
	<ref name="db-comp.element.errortype"/>
      </choice>
    </define>

    <define name="db-comp.choice.inline-prog">
      <ref:refname>db-comp.choice.inline-prog</ref:refname>
      <ref:refpurpose>
	A <ref:xmltag>choice</ref:xmltag> containing the inline
	programming terms.
      </ref:refpurpose>

      <choice>
	<ref name="db-prog.element.classname"/>
	<ref name="db-prog.element.exceptionname"/>
	<ref name="db-prog.element.function"/>
	<ref name="db-prog.element.interfacename"/>
	<ref name="db-prog.element.methodname"/>
	<ref name="db-prog.element.ooclass"/>
	<ref name="db-prog.element.ooexception"/>
	<ref name="db-prog.element.oointerface"/>
	<ref name="db-prog.element.parameter"/>
	<ref name="db-prog.element.returnvalue"/>
	<ref name="db-prog.element.type"/>
	<ref name="db-prog.element.varname"/>
      </choice>
    </define>
  </div>

  <!-- Element Definitions -->

  <div ref:role="element">
    <ref:title>Element Definitions</ref:title>

    <!-- Computer Interface Terms -->
    <div>
      <ref:title>Computer Interface Terms</ref:title>

      <define name="db-comp.element.accel">
	<element name="accel">
	  <ref:refname>accel</ref:refname>
	  <ref:refpurpose>
	    A keyboard shortcut in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guibutton">
	<element name="guibutton">
	  <ref:refname>guibutton</ref:refname>
	  <ref:refpurpose>
	    The text on a button in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guiicon">
	<element name="guiicon">
	  <ref:refname>guiicon</ref:refname>
	  <ref:refpurpose>
	    Graphic or text appearing as an icon in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guilabel">
	<element name="guilabel">
	  <ref:refname>guilabel</ref:refname>
	  <ref:refpurpose>
	    The text of a label in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guimenu">
	<element name="guimenu">
	  <ref:refname>guimenu</ref:refname>
	  <ref:refpurpose>
	    The name of a menu in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guimenuitem">
	<element name="guimenuitem">
	  <ref:refname>guimenuitem</ref:refname>
	  <ref:refpurpose>
	    The name of a terminal menu item in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.guisubmenu">
	<element name="guisubmenu">
	  <ref:refname>guisubmenu</ref:refname>
	  <ref:refpurpose>
	    The name of a submenu in a graphical interface.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.keycap">
	<element name="keycap">
	  <ref:refname>keycap</ref:refname>
	  <ref:refpurpose>
	    The text printed on a key on a keyboard.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.keycode">
	<element name="keycode">
	  <ref:refname>keycode</ref:refname>
	  <ref:refpurpose>
	    The internal identifier for a key on a keyboard.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.keycombo">
	<element name="keycombo">
	  <ref:refname>keycombo</ref:refname>
	  <ref:refpurpose>
	    A combination of input actions.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <oneOrMore>
	    <choice>
	      <ref name="db-comp.element.keycap"/>
	      <ref name="db-comp.element.keycombo"/>
	      <ref name="db-comp.element.keysym"/>
	      <ref name="db-comp.element.mousebutton"/>
	    </choice>
	  </oneOrMore>
	</element>
      </define>

      <define name="db-comp.element.keysym">
	<element name="keysym">
	  <ref:refname>keysym</ref:refname>
	  <ref:refpurpose>
	    The symbolic name of a key on a keyboard.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.mousebutton">
	<element name="mousebutton">
	  <ref:refname>menuchoioce</ref:refname>
	  <ref:refpurpose>
	    The conventional name of a mouse button.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.shortcut">
	<element name="shortcut">
	  <ref:refname>shortcut</ref:refname>
	  <ref:refpurpose>
	    A key combination for an action that is also accessible through a menu.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <oneOrMore>
	    <choice>
	      <ref name="db-comp.element.keycap"/>
	      <ref name="db-comp.element.keycombo"/>
	      <ref name="db-comp.element.keysym"/>
	      <ref name="db-comp.element.mousebutton"/>
	    </choice>
	  </oneOrMore>
	</element>
      </define>
    </div>

    <!-- Programming Terms -->
    <div>
      <ref:title>Programming Terms</ref:title>

      <define name="db-comp.element.classname">
	<element name="classname">
	  <ref:refname>classname</ref:refname>
	  <ref:refpurpose>
	    The name of a class, in the object-oriented programming sense.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.exceptionname">
	<element name="exceptionname">
	  <ref:refname>exceptionname</ref:refname>
	  <ref:refpurpose>
	    The name of an exception.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.function">
	<element name="function">
	  <ref:refname>function</ref:refname>
	  <ref:refpurpose>
	    The name of a function or subroutine, as in a programming language.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.interfacename">
	<element name="interfacename">
	  <ref:refname>interfacename</ref:refname>
	  <ref:refpurpose>
	    The name of an interface, in the object-oriented programming sense.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.methodname">
	<element name="methodname">
	  <ref:refname>methodname</ref:refname>
	  <ref:refpurpose>
	    The name of a method.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.modifier">
	<element name="modifier">
	  <ref:refname>modifier</ref:refname>
	  <ref:refpurpose>
	    Modifier in a synopsis.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.ooclass">
	<element name="ooclass">
	  <ref:refname>ooclass</ref:refname>
	  <ref:refpurpose>
	    A class in an object-oriented programming language.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <zeroOrMore>
	    <ref name="db-comp.element.modifier"/>
	  </zeroOrMore>
	  <ref name="db-comp.element.classname"/>
	</element>
      </define>

      <define name="db-comp.element.ooexception">
	<element name="ooexception">
	  <ref:refname>ooexception</ref:refname>
	  <ref:refpurpose>
	    An exception in an object-oriented programming language.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <zeroOrMore>
	    <ref name="db-comp.element.modifier"/>
	  </zeroOrMore>
	  <ref name="db-comp.element.exceptionname"/>
	</element>
      </define>

      <define name="db-comp.element.oointerface">
	<element name="oointerface">
	  <ref:refname>oointerface</ref:refname>
	  <ref:refpurpose>
	    An interface in an object-oriented programming language.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <zeroOrMore>
	    <ref name="db-comp.element.modifier"/>
	  </zeroOrMore>
	  <ref name="db-comp.element.interfacename"/>
	</element>
      </define>

      <define name="db-comp.element.parameter">
	<element name="parameter">
	  <ref:refname>parameter</ref:refname>
	  <ref:refpurpose>
	    A value or a symbolic reference to a value.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <optional>
	    <attribute name="class">
	      <choice>
		<value type="string">command</value>
		<value type="string">function</value>
		<value type="string">option</value>
	      </choice>
	    </attribute>
	  </optional>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.returnvalue">
	<element name="returnvalue">
	  <ref:refname>returnvalue</ref:refname>
	  <ref:refpurpose>
	    The value returned by a function.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.type">
	<element name="type">
	  <ref:refname>type</ref:refname>
	  <ref:refpurpose>
	    The classification of a value.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.varname">
	<element name="varname">
	  <ref:refname>varname</ref:refname>
	  <ref:refpurpose>
	    The name of a variable.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>
    </div>

    <!-- Miscellaneous Terms -->
    <div>
      <ref:title>Miscellaneous Terms</ref:title>

      <define name="db-comp.element.application">
	<element name="application">
	  <ref:refname>application</ref:refname>
	  <ref:refpurpose>
	    The name of a software program.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.code">
	<element name="code">
	  <ref:refname>code</ref:refname>
	  <ref:refpurpose>
	    An inline code fragment.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.command">
	<element name="command">
	  <ref:refname>command</ref:refname>
	  <ref:refpurpose>
	    The name of an executable program or other software command.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.computeroutput">
	<element name="computeroutput">
	  <ref:refname>computeroutput</ref:refname>
	  <ref:refpurpose>
	    Data, generally text, displayed or presented by the computer
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.constant">
	<element name="constant">
	  <ref:refname>constant</ref:refname>
	  <ref:refpurpose>
	    A programming or system constant.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.database">
	<element name="database">
	  <ref:refname>database</ref:refname>
	  <ref:refpurpose>
	    The name of a database, or part of a database.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.envar">
	<element name="envar">
	  <ref:refname>envar</ref:refname>
	  <ref:refpurpose>
	    A software environment variable.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.errorcode">
	<element name="errorcode">
	  <ref:refname>errorcode</ref:refname>
	  <ref:refpurpose>
	    An error code.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.errorname">
	<element name="errorname">
	  <ref:refname>errorname</ref:refname>
	  <ref:refpurpose>
	    An error name.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.errortext">
	<element name="errortext">
	  <ref:refname>errortext</ref:refname>
	  <ref:refpurpose>
	    An error message.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.errortype">
	<element name="errortype">
	  <ref:refname>errortype</ref:refname>
	  <ref:refpurpose>
	    The classification of an error message.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.filename">
	<element name="filename">
	  <ref:refname>filename</ref:refname>
	  <ref:refpurpose>
	    The name of a file.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.hardware">
	<element name="hardware">
	  <ref:refname>hardware</ref:refname>
	  <ref:refpurpose>
	    A physical part of a computer system.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.literal">
	<element name="literal">
	  <ref:refname>literal</ref:refname>
	  <ref:refpurpose>
	    Inline text that is some literal value.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.markup">
	<element name="markup">
	  <ref:refname>markup</ref:refname>
	  <ref:refpurpose>
	    A string of formatting markup in text that is to be
	    represented literally.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.menuchoice">
	<element name="menuchoice">
	  <ref:refname>menuchoice</ref:refname>
	  <ref:refpurpose>
	    A selection or series of selections from a menu.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <optional>
	    <ref name="db-comp.element.shortcut"/>
	  </optional>
	  <oneOrMore>
	    <choice>
	      <ref name="db-comp.element.guibutton"/>
	      <ref name="db-comp.element.guiicon"/>
	      <ref name="db-comp.element.guilabel"/>
	      <ref name="db-comp.element.guimenu"/>
	      <ref name="db-comp.element.guimenuitem"/>
	      <ref name="db-comp.element.guisubmenu"/>
	    </choice>
	  </oneOrMore>
	</element>
      </define>


      <define name="db-comp.element.option">
	<element name="option">
	  <ref:refname>option</ref:refname>
	  <ref:refpurpose>
	    An option for a sofware command.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.optional">
	<element name="optional">
	  <ref:refname>optional</ref:refname>
	  <ref:refpurpose>
	    Optional information.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.replaceable">
	<element name="replaceable">
	  <ref:refname>replaceable</ref:refname>
	  <ref:refpurpose>
	    Content that may or must be replaced by the user.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.symbol">
	<element name="symbol">
	  <ref:refname>symbol</ref:refname>
	  <ref:refpurpose>
	    A name that is replaced by a value before processing.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.systemitem">
	<element name="systemitem">
	  <ref:refname>systemitem</ref:refname>
	  <ref:refpurpose>
	    A system-related item or term.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <optional>
	    <attribute name="class">
	      <choice>
		<value type="string">daemon</value>
		<value type="string">domainname</value>
		<value type="string">etheraddress</value>
		<value type="string">event</value>
		<value type="string">eventhandler</value>
		<value type="string">filesystem</value>
		<value type="string">fqdomainname</value>
		<value type="string">groupname</value>
		<value type="string">ipaddress</value>
		<value type="string">library</value>
		<value type="string">macro</value>
		<value type="string">netmask</value>
		<value type="string">newsgroup</value>
		<value type="string">osname</value>
		<value type="string">process</value>
		<value type="string">resource</value>
		<value type="string">server</value>
		<value type="string">service</value>
		<value type="string">systemname</value>
		<value type="string">username</value>
	      </choice>
	    </attribute>
	  </optional>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.token">
	<element name="token">
	  <ref:refname>token</ref:refname>
	  <ref:refpurpose>
	    A unit of information.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>

      <define name="db-comp.element.userinput">
	<element name="userinput">
	  <ref:refname>userinput</ref:refname>
	  <ref:refpurpose>
	    Data entered by the user.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <ref name="db-comp.stub.inline"/>
	</element>
      </define>

      <define name="db-comp.element.xmltag">
	<element name="xmltag">
	  <ref:refname>xmltag</ref:refname>
	  <ref:refpurpose>
	    A unit of information.
	  </ref:refpurpose>

	  <ref name="db-comp.stub.attr-common"/>
	  <optional>
	    <attribute name="namespace"/>
	  </optional>
	  <optional>
	    <attribute name="class">
	      <choice>
		<value type="string">attribute</value>
		<value type="string">attvalue</value>
		<value type="string">comment</value>
		<value type="string">element</value>
		<value type="string">emptytag</value>
		<value type="string">endtag</value>
		<value type="string">genentity</value>
		<value type="string">localname</value>
		<value type="string">namespace</value>
		<value type="string">numcharref</value>
		<value type="string">paramentity</value>
		<value type="string">pi</value>
		<value type="string">prefix</value>
		<value type="string">starttag</value>
		<value type="string">xmlpi</value>
	      </choice>
	    </attribute>
	  </optional>
	  <ref name="db-comp.stub.inline-restricted"/>
	</element>
      </define>
    </div>

  </div>
</grammar>
